.date, .death-graph, .case-graph {
    text-align: left;
}

.death-change, .case-change {
    text-align: right;
}

.negative {
    color: red;
}

td, th {
    padding-left: 1ex;
    padding-right: 1ex;
}

body {
    width: 100%;
}
