body {
    font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
    font-size: 16pt;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}

.date, .death-graph, .case-graph {
    text-align: left;
}

.death-change, .case-change {
    text-align: right;
}

.negative {
    color: red;
}

td, th {
    padding-left: 1ex;
    padding-right: 1ex;
}

.prepared {
    font-style: italic;
    font-size: 75%;
}

.changelog {
    font-style: italic;
    font-size: 75%;
}

.death-graph meter {
    width: 15vw;
}

.case-graph meter {
    width: 35vw;
}
